@import url("https://fonts.googleapis.com/css2?family=Coda+Caption&family=Lobster&family=Ubuntu:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu";
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

ul {
  list-style-type: none;
}

body {
  background-color: #0E0E0E;
  color: white;
}

#Header {
  font-size: 18px;
  padding: 200px 0 50px 0;
}
#Header .contenedor {
  display: flex;
  justify-content: center;
  align-items: center;
}
#Header .contenedor .box {
  margin: 0 50px;
}
#Header .contenedor .text-box {
  width: 600px;
}
#Header .contenedor .text-box .text {
  padding: 10px 0;
}
#Header .contenedor .text-box .tabs {
  margin-top: 20px;
}
#Header .contenedor .text-box .tabs span {
  display: inline-block;
  padding: 7.5px 5px;
  margin: 0 10px;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.5294117647);
  font-weight: bold;
  position: relative;
  font-size: 1.2em;
}
#Header .contenedor .text-box .tabs span::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background: rgba(255, 255, 255, 0.5294117647);
}
#Header .contenedor .tech-box {
  width: 900px;
}
#Header .contenedor .tech-box .title {
  text-align: center;
  margin-bottom: 20px;
}
#Header .contenedor .tech-box .techs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#Header .contenedor .tech-box .techs .logo {
  margin: 10px;
  width: 60px;
  background-color: #fff;
  padding: 25px 90px;
  border-radius: 10px;
  box-sizing: content-box;
}
#Header .contenedor .tech-box .techs .logo img {
  width: 60px;
  min-width: 60px;
  display: block;
  margin: auto;
}
#Header .anim-text {
  background: linear-gradient(90deg, #E04143, #AA3F79);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}
#Header .domain {
  font-size: 2.5em !important;
  border-bottom: 2px solid 90deg, #E04143, #AA3F79;
  font-family: "Coda Caption", sans-serif !important;
  font-weight: 900;
  -webkit-box-reflect: below 1px linear-gradient(transparent, rgba(0, 0, 0, 0.5333333333) 500%);
  line-height: 0.95em;
  outline: none;
}
#Header .typetext {
  font-size: 1.3em;
  padding: 5px 0;
  margin-top: 40px;
}
#Header .tech-title {
  font-size: 2em;
  font-family: "Lobster";
}

#CV a {
  display: inline-block;
  text-decoration: none;
  color: #7373e7;
  font-weight: bold;
  padding: 5px 20px;
  border: 2px solid #7373e7;
  border-radius: 5px;
  margin-top: 10px;
}

.activo {
  background: linear-gradient(90deg, #E04143, #AA3F79) !important;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
  font-weight: bold !important;
}
.activo::before {
  background: linear-gradient(90deg, #E04143, #AA3F79) !important;
}

.html {
  background-color: #ff6625 !important;
}

.css {
  background-color: #1aa7e4 !important;
}

.js {
  background-color: #a8930c !important;
}

.react {
  background-color: #d8f6ff !important;
}

.git {
  background-color: #8f1d0c !important;
}

.figma {
  background-color: #292827 !important;
}

.bootstrap {
  background-color: #cdbfe4 !important;
}

.tailwind {
  background-color: #007987 !important;
}/*# sourceMappingURL=style.css.map */