@import url('https://fonts.googleapis.com/css2?family=Coda+Caption&family=Comfortaa&family=Lobster&family=Ubuntu:wght@400;700&display=swap');

@font-face {
    font-family: 'Minecraft';
    src: url('fonts/MinecraftEvenings.otf')
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu';
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

ul {
    list-style-type: none;
}

body {
    background-color: #0E0E0E;
    color: white;
}

main {
    margin: auto;
    width: 90%;
}

#Header {
    font-size: 18px;
    padding: 200px 0 50px 0;
    .contenedor {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        line-height: 1.5em;
        .box {
            // margin: 0 50px;
        }
        .text-box {
            width: 700px;
            .text {
                padding: 10px 0;
                font-size: 1.1em;
            }
            .tabs {
                margin-top: 30px;
                span {
                    display: inline-block;
                    padding: 7.5px 5px;
                    margin: 0 10px;
                    cursor: pointer;
                    color: #ffffff87;
                    font-weight: bold;
                    position: relative;
                    font-size: 1.2em;
                    &::before {
                        content: "";
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        width: 100%;
                        height: 4px;
                        background: #ffffff87;
                    }
                }
            }
        }
        .tech-box {
            width: 900px;
            .title {
                text-align: center;
                margin-bottom: 20px;
            }
            .techs {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                .logo {
                    margin: 10px;
                    width: 220px;
                    height: 80px;
                    background-color: #fff;
                    padding: 10px;
                    border-radius: 5px;
                    box-sizing: content-box;
                    transition: all .3s;
                    display: grid;
                    place-items: center;
                    position: relative;
                    img {
                        width: 60px;
                        min-width: 60px;
                        display: block;
                        margin: auto;
                    }
                    &:hover {
                        transform: translateY(-3px);
                        position: relative;
                        z-index: 1;
                    }
                }
            }
        }
    }
    .anim-text {
        background: linear-gradient(90deg,#E04143,#AA3F79);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-weight: bold;
    }
    .domain {
        font-size: 2.5em !important;
        border-bottom: 2px solid (90deg,#E04143,#AA3F79);
        font-family: 'Coda Caption', sans-serif !important;
        font-weight: 900;
        -webkit-box-reflect: below 1px linear-gradient(transparent,#0008 500%);
        line-height: .95em;
        outline: none;
    }
    .typetext {
        font-size: 1.3em;
        padding: 5px 0;
        margin-top: 40px;
    }
    .tech-title {
        font-size: 2em;
        font-family: 'Lobster';
    }
}

#CV {
    a {
        display: inline-block;
        text-decoration: none;
        color: #7373e7;
        font-weight: bold;
        padding: 5px 20px;
        border: 2px solid #7373e7;
        border-radius: 5px;
        margin-top: 10px;
    }
}


.activo {
    background: linear-gradient(90deg,#E04143,#AA3F79) !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
    font-weight: bold !important;
    &::before {
        background: linear-gradient(90deg,#E04143,#AA3F79) !important;
    }
}



#Projects {
    margin-top: 100px;
    .title {
        margin-bottom: 50px;
        span {
            font-size: 1.3em;
            display: block;
            i {
                font-size: 1.3em;
                margin-right: 2px;
            }
        }
    }
    .contenedor {
        display: flex;
        flex-wrap: wrap;
        width: 1600px;
        margin: auto;
        gap: 20px;
        .box {
            width: 300px;
            background-color: #171717;
            border-radius: 10px;
            transition: all .3s;
            position: relative;
            .header {
                height: 180px;
                img {
                    border-radius: 10px 10px 0 0;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: top;
                }
            }
            .body {
                padding: 20px;
            }
            .title {
                margin-bottom: 20px !important;
                font-size: 1.1em;
                font-weight: bold;
            }
            &:hover {
                transform: translateY(-4px);
                position: relative;
                z-index: 1;
            }
        }
    }
}


#Social {
    margin-top: 150px;
    .contenedor {
        gap: 20px;
        display: flex;
        .title {
            width: 50%;
            height: 100px;
            text-align: center;
            background: linear-gradient(to right,#0C4364,#1C3A9E);
            display: grid;
            place-items: center;
            border-radius: 10px;
            p {
                font-size: 2.5em;
                font-family: 'Lobster';
                letter-spacing: 3px;
                align-self: center;
            }
        }
        .redes {
            display: flex;
            width: 50%;
            justify-content: center;
            gap: 20px;
            & > a {
                border-radius: 10px;
                font-size: 3em;
                width: 25%;
                display: grid;
                place-items: center;
                text-decoration: none;
                color: white;
                transition: all .3s;
                &:hover {
                    transform: translateY(-5px);
                }
            }
            .github {
                background-color: #49228C;
            }
            .linkedin {
                background-color: #0961B8;
            }
            .reddit {
                background-color: #F24100;
            }
        }
    }
}



#Contacto {
    margin-top: 150px;
    height: 600px;
    background: #8A42F2;
    border-radius: 10px;
    .contenedor {
        display: flex;
        height: 100%;
        .title {
            width: 50%;
            display: grid;
            place-items: center;
            p {
                font-family: 'Maincraft';
            }
        }
    }
}

#Footer {
    height: 150px;
    background-color: #171717;
    margin-top: 150px;
}




/* ---------- CLASES PARA LOS HOVER ---------- */



.hover-logo {
    position: absolute;
    top: -80%;
    left: 50%;
    transform: translateX(-50%);
    width: 300px;
    height: 400px;
    background-color: #171717;
    border-radius: 10px;
    color: white;
    padding: 0 20px;
    z-index: 10 !important;
    opacity: 0;
    transition: all .3s;
    .img-div {
        padding: 30px 0;
        img {
            width: 100px !important;
        }
    }
    .body {
        .titlee {
            font-size: 1.5em;
            margin-bottom: 15px;
            text-align: center;
        }
        .prem {
            text-align: center;
            margin-bottom: 10px;
            font-weight: bold;
        }
        ul {
            list-style-type: circle;
            margin-left: 30px;
        }
    }
}


.hover-project {
    position: absolute;
    top: -10%;
    left: 50%;
    transform: translateX(-50%);
    width: 300px;
    height: 400px;
    background-color: #171717;
    border-radius: 10px;
    color: white;
    padding: 0 20px;
    z-index: 10 !important;
    opacity: 0;
    transition: all .3s;
    .cabezera {
        .titleee {
            text-transform: uppercase;
            text-align: center;
            margin: 60px 0 30px 0;
            font-size: 1.5em !important;
        }
    }
    .tabss {
        display: flex;
        justify-content: center;
        gap: 40px;
        span {
            display: inline-block;
            font-weight: bold;
            color: #ffffff87;
            font-size: 1.2em;
            position: relative;
            padding: 7px 0;
            cursor: pointer;
            &::before {
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 4px;
                background: #ffffff87;
            }
        }
    }
}



.html {
    background-color: #ff6625 !important;
}

.css {
    background-color: #1aa7e4 !important;
}

.js {
    background-color: #a8930c !important;
}

.react {
    background-color: #d8f6ff !important;
}

.git {
    background-color: #8f1d0c !important;
}

.figma {
    background-color: #292827 !important;
}

.bootstrap {
    background-color: #cdbfe4 !important;
}

.tailwind {
    background-color: #007987 !important;
}

