@import url("https://fonts.googleapis.com/css2?family=Coda+Caption&family=Comfortaa&family=Lobster&family=Ubuntu:wght@400;700&display=swap");
@font-face {
  font-family: "Minecraft";
  src: url("fonts/MinecraftEvenings.otf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu";
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

ul {
  list-style-type: none;
}

body {
  background-color: #0E0E0E;
  color: white;
}

main {
  margin: auto;
  width: 90%;
}

#Header {
  font-size: 18px;
  padding: 200px 0 50px 0;
}
#Header .contenedor {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  line-height: 1.5em;
}
#Header .contenedor .text-box {
  width: 700px;
}
#Header .contenedor .text-box .text {
  padding: 10px 0;
  font-size: 1.1em;
}
#Header .contenedor .text-box .tabs {
  margin-top: 30px;
}
#Header .contenedor .text-box .tabs span {
  display: inline-block;
  padding: 7.5px 5px;
  margin: 0 10px;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.5294117647);
  font-weight: bold;
  position: relative;
  font-size: 1.2em;
}
#Header .contenedor .text-box .tabs span::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background: rgba(255, 255, 255, 0.5294117647);
}
#Header .contenedor .tech-box {
  width: 900px;
}
#Header .contenedor .tech-box .title {
  text-align: center;
  margin-bottom: 20px;
}
#Header .contenedor .tech-box .techs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#Header .contenedor .tech-box .techs .logo {
  margin: 10px;
  width: 220px;
  height: 80px;
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
  box-sizing: content-box;
  transition: all 0.3s;
  display: grid;
  place-items: center;
  position: relative;
}
#Header .contenedor .tech-box .techs .logo img {
  width: 60px;
  min-width: 60px;
  display: block;
  margin: auto;
}
#Header .contenedor .tech-box .techs .logo:hover {
  transform: translateY(-3px);
  position: relative;
  z-index: 1;
}
#Header .anim-text {
  background: linear-gradient(90deg, #E04143, #AA3F79);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}
#Header .domain {
  font-size: 2.5em !important;
  border-bottom: 2px solid 90deg, #E04143, #AA3F79;
  font-family: "Coda Caption", sans-serif !important;
  font-weight: 900;
  -webkit-box-reflect: below 1px linear-gradient(transparent, rgba(0, 0, 0, 0.5333333333) 500%);
  line-height: 0.95em;
  outline: none;
}
#Header .typetext {
  font-size: 1.3em;
  padding: 5px 0;
  margin-top: 40px;
}
#Header .tech-title {
  font-size: 2em;
  font-family: "Lobster";
}

#CV a {
  display: inline-block;
  text-decoration: none;
  color: #7373e7;
  font-weight: bold;
  padding: 5px 20px;
  border: 2px solid #7373e7;
  border-radius: 5px;
  margin-top: 10px;
}

.activo {
  background: linear-gradient(90deg, #E04143, #AA3F79) !important;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
  font-weight: bold !important;
}
.activo::before {
  background: linear-gradient(90deg, #E04143, #AA3F79) !important;
}

#Projects {
  margin-top: 100px;
}
#Projects .title {
  margin-bottom: 50px;
}
#Projects .title span {
  font-size: 1.3em;
  display: block;
}
#Projects .title span i {
  font-size: 1.3em;
  margin-right: 2px;
}
#Projects .contenedor {
  display: flex;
  flex-wrap: wrap;
  width: 1600px;
  margin: auto;
  gap: 20px;
}
#Projects .contenedor .box {
  width: 300px;
  background-color: #171717;
  border-radius: 10px;
  transition: all 0.3s;
  position: relative;
}
#Projects .contenedor .box .header {
  height: 180px;
}
#Projects .contenedor .box .header img {
  border-radius: 10px 10px 0 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}
#Projects .contenedor .box .body {
  padding: 20px;
}
#Projects .contenedor .box .title {
  margin-bottom: 20px !important;
  font-size: 1.1em;
  font-weight: bold;
}
#Projects .contenedor .box:hover {
  transform: translateY(-4px);
  position: relative;
  z-index: 1;
}

#Social {
  margin-top: 150px;
}
#Social .contenedor {
  gap: 20px;
  display: flex;
}
#Social .contenedor .title {
  width: 50%;
  height: 100px;
  text-align: center;
  background: linear-gradient(to right, #0C4364, #1C3A9E);
  display: grid;
  place-items: center;
  border-radius: 10px;
}
#Social .contenedor .title p {
  font-size: 2.5em;
  font-family: "Lobster";
  letter-spacing: 3px;
  align-self: center;
}
#Social .contenedor .redes {
  display: flex;
  width: 50%;
  justify-content: center;
  gap: 20px;
}
#Social .contenedor .redes > a {
  border-radius: 10px;
  font-size: 3em;
  width: 25%;
  display: grid;
  place-items: center;
  text-decoration: none;
  color: white;
  transition: all 0.3s;
}
#Social .contenedor .redes > a:hover {
  transform: translateY(-5px);
}
#Social .contenedor .redes .github {
  background-color: #49228C;
}
#Social .contenedor .redes .linkedin {
  background-color: #0961B8;
}
#Social .contenedor .redes .reddit {
  background-color: #F24100;
}

#Contacto {
  margin-top: 150px;
  height: 600px;
  background: #8A42F2;
  border-radius: 10px;
}
#Contacto .contenedor {
  display: flex;
  height: 100%;
}
#Contacto .contenedor .title {
  width: 50%;
  display: grid;
  place-items: center;
}
#Contacto .contenedor .title p {
  font-family: "Maincraft";
}

#Footer {
  height: 150px;
  background-color: #171717;
  margin-top: 150px;
}

/* ---------- CLASES PARA LOS HOVER ---------- */
.hover-logo {
  position: absolute;
  top: -80%;
  left: 50%;
  transform: translateX(-50%);
  width: 300px;
  height: 400px;
  background-color: #171717;
  border-radius: 10px;
  color: white;
  padding: 0 20px;
  z-index: 10 !important;
  opacity: 0;
  transition: all 0.3s;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.3);
}
.hover-logo .img-div {
  padding: 30px 0;
}
.hover-logo .img-div img {
  width: 100px !important;
}
.hover-logo .body .titlee {
  font-size: 1.5em;
  margin-bottom: 15px;
  text-align: center;
}
.hover-logo .body .prem {
  text-align: center;
  margin-bottom: 10px;
  font-weight: bold;
}
.hover-logo .body ul {
  list-style-type: circle;
  margin-left: 30px;
}

.hover-project {
  position: absolute;
  top: -10%;
  left: 50%;
  transform: translateX(-50%);
  width: 200px;
  height: 300px;
  background-color: #171717;
  border-radius: 10px;
  color: white;
  padding: 0 20px;
  z-index: 10 !important;
  opacity: 0;
  transition: all 0.3s;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.3);
}
.hover-project .cabezera .titleee {
  text-transform: uppercase;
  text-align: center;
  margin: 60px 0 30px 0;
  font-size: 1.5em !important;
}
.hover-project .tabss {
  display: flex;
  justify-content: center;
  gap: 40px;
}
.hover-project .tabss span {
  display: inline-block;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.5294117647);
  font-size: 1.2em;
  position: relative;
  padding: 7px 0;
  cursor: pointer;
}
.hover-project .tabss span::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background: rgba(255, 255, 255, 0.5294117647);
}
.hover-project .content {
  padding: 30px 0;
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
  height: 250px;
}
.hover-project .content > div {
  transition: transform 0.3s ease;
  min-width: 100%;
  margin: 0 5px;
}
.hover-project .content > div p {
  user-select: none;
}

/* --------------- TECH COLORS --------------- */
.html {
  background-color: #ff6625 !important;
}

.css {
  background-color: #1aa7e4 !important;
}

.js {
  background-color: #a8930c !important;
}

.react {
  background-color: #d8f6ff !important;
}

.git {
  background-color: #8f1d0c !important;
}

.figma {
  background-color: #292827 !important;
}

.bootstrap {
  background-color: #cdbfe4 !important;
}

.tailwind {
  background-color: #007987 !important;
}/*# sourceMappingURL=style.css.map */