@media (max-width: 1400px) {
  #Contacto .contenedor .svg img {
    width: 550px;
  }
  #Contacto .contenedor .form-box #Form {
    margin: auto;
    width: 80%;
  }
}
@media (max-width: 1200px) {
  #Header .contenedor .text-box .texts .text {
    height: 480px;
  }
  #Contacto .contenedor .svg img {
    width: 450px;
  }
  #Contacto .contenedor .form-box #Form {
    margin: auto;
    width: 80%;
  }
}
@media (max-width: 1024px) {
  #Social .contenedor {
    flex-wrap: wrap;
  }
  #Social .contenedor .title {
    height: 70px;
    width: 100%;
    margin-bottom: 20px;
  }
  #Social .contenedor .redes {
    width: 100%;
    align-items: flex-start;
  }
  #Social .contenedor .redes > a {
    height: 100px;
  }
  #Contacto {
    width: 600px;
    height: auto;
  }
  #Contacto .contenedor .svg {
    display: none;
  }
  #Contacto .contenedor .form-box {
    width: 100%;
  }
  #Contacto .contenedor .form-box #Form {
    width: 100%;
  }
  #Header .contenedor {
    flex-wrap: wrap;
  }
  #Header .contenedor .domain {
    text-align: center;
  }
  #Header .contenedor .box {
    width: 100% !important;
    min-width: 100% !important;
  }
  #Header .contenedor .text-box .tabs {
    display: flex;
    justify-content: center;
    width: 100%;
    overflow-x: scroll;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none;
  }
  #Header .contenedor .text-box .tabs::-webkit-scrollbar {
    display: none;
  }
  #Header .contenedor .text-box .tabs > * {
    flex-shrink: 0;
  }
  #Header .contenedor .text-box .texts {
    padding: 10px 0;
    font-size: 1.1em;
  }
  #Header .contenedor .text-box .texts .text {
    height: auto;
  }
  #Header .contenedor .text-box .tabs {
    text-align: center;
  }
  .hover-logo-s {
    display: block;
  }
  #Projects .contenedor {
    gap: 30px;
  }
}
@media (max-width: 768px) {
  .click-project {
    display: block;
  }
  #Projects .contenedor .box {
    cursor: pointer;
  }
  #Projects .contenedor .box:hover {
    transform: translate(0);
  }
}
@media (max-width: 700px) {
  #Contacto {
    width: 100%;
  }
  #Projects .contenedor {
    grid-template-columns: repeat(auto-fill, 80%);
    justify-content: center;
    gap: 0;
    grid-row-gap: 50px;
  }
  #Projects .contenedor .box {
    width: 80%;
    min-width: 300px;
    margin: auto;
  }
  #Certifications .contenedor .box {
    margin: auto;
  }
}
@media (max-width: 560px) {
  #Header .contenedor .domain {
    font-size: 2.5em !important;
  }
  .hover-logo-s .box-logo {
    width: 90% !important;
  }
  .hover-logo-s .box-logo ul {
    margin: 20px 0 0 20px !important;
  }
}
@media (max-width: 460px) {
  #Social .contenedor .title {
    padding: 10px 0;
    height: auto;
  }
  #Social .contenedor .title p {
    font-size: 2em;
    padding: 0 5px;
  }
  #Social .contenedor .redes > a {
    height: 80px;
    font-size: 2.5em;
  }
  #Form {
    padding: 60px 10px !important;
  }
  .click-project .project-box {
    width: 90% !important;
    padding: 0 15px;
  }
  #Header .text-box .tabs {
    justify-content: start !important;
  }
  #Header .contenedor .domain {
    font-size: 2em !important;
  }
}
@media (max-width: 410px) {
  .click-project .project-box .links {
    gap: 15px;
  }
  .click-project .project-box .links a {
    padding: 5px 50px;
  }
  #Header .contenedor .domain {
    font-size: 1.6em !important;
  }
  #Header .contenedor .tech-box {
    margin-top: 80px;
  }
  #Header .contenedor .tech-box .techs .logo {
    width: 100% !important;
  }
  #Projects .contenedor {
    grid-template-columns: repeat(auto-fill, 100%);
    min-width: none !important;
  }
  #Projects .contenedor .box {
    width: 100% !important;
    min-width: none !important;
  }
}
.mqlogo1400 {
  top: 50% !important;
  left: 57% !important;
  transform: translate(-50%, -50%) !important;
}

.mqlogo1024 {
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
  position: fixed;
}/*# sourceMappingURL=mq.css.map */