@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=Coda+Caption:wght@800&family=Comfortaa&family=Lobster&family=Ubuntu:wght@400;700&display=swap");
::-webkit-scrollbar {
  width: 0.5em;
}

::-webkit-scrollbar-track {
  background: #171717;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(0deg, #E04143, #AA3F79);
  border-radius: 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu";
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

ul {
  list-style-type: none;
}

body {
  background-color: #0E0E0E;
  color: white;
  overflow-x: hidden;
}

main {
  margin: auto;
  width: 90%;
  position: relative;
}

.caveat {
  font-family: "Caveat" !important;
  font-size: 1.5em;
  margin-top: 5px;
}

#Header {
  font-size: 18px;
  padding: 150px 0 50px 0;
}
#Header .contenedor {
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 1.5em;
  gap: 50px;
}
#Header .contenedor .text-box {
  width: 50%;
}
#Header .contenedor .text-box .texts {
  padding: 10px 0;
  font-size: 1.1em;
}
#Header .contenedor .text-box .texts .text {
  height: 400px;
  display: none;
}
#Header .contenedor .text-box .tabs {
  margin: 30px 0 20px 0;
}
#Header .contenedor .text-box .tabs span {
  display: inline-block;
  padding: 7.5px 5px;
  margin: 0 10px;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.5294117647);
  font-weight: bold;
  position: relative;
  font-size: 1.2em;
  user-select: none;
}
#Header .contenedor .text-box .tabs span::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background: rgba(255, 255, 255, 0.5294117647);
}
#Header .contenedor .tech-box {
  width: 50%;
}
#Header .contenedor .tech-box .title {
  text-align: center;
  margin-bottom: 30px;
}
#Header .anim-text {
  background: linear-gradient(90deg, #E04143, #AA3F79);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  font-size: 2.5em !important;
}
#Header .domain {
  font-size: 2.5em !important;
  border-bottom: 2px solid 90deg, #E04143, #AA3F79;
  font-family: "Coda Caption", sans-serif !important;
  font-weight: 900;
  -webkit-box-reflect: below 1px linear-gradient(transparent, rgba(0, 0, 0, 0.5333333333) 500%);
  line-height: 0.95em;
  outline: none;
}
#Header .tech-title {
  font-size: 2em;
  font-family: "Lobster";
  line-height: 1.2em;
}

#Logos {
  width: 520px;
  margin: 20px auto;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
  z-index: 1;
}
#Logos::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  pointer-events: none;
  box-shadow: inset 20px 0 15px #0E0E0E, inset -20px 0 15px #0E0E0E;
  z-index: 2;
}
#Logos .logo-cont {
  display: flex;
}
#Logos .logo-cont .logo-box {
  display: flex;
  margin: 20px 0;
}
#Logos .logo-cont .logo {
  width: 130px;
  display: flex;
  justify-content: center;
  flex-shrink: 0;
}
#Logos .logo-cont .logo img {
  width: 80px;
  transition: transform 0.3s;
}
#Logos .logo-cont .logo img:hover {
  transform: translateY(-2px);
}

@media (max-width: 1150px) {
  #Logos {
    width: 390px;
  }
}
@media (max-width: 1024px) {
  #Logos {
    width: 90%;
    margin: auto;
  }
  #Logos::before {
    content: none;
  }
  #Logos .logo-cont:nth-child(2) {
    display: none !important;
  }
  #Logos .logo-cont .logo-box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
    width: 100%;
    gap: 10px;
    transform: translate(0) !important;
  }
  #Logos .logo-cont .logo-box:nth-child(2) {
    display: none;
  }
  #Logos .logo-cont .logo-box .logo {
    background-color: rgb(46, 46, 46);
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 5px;
    width: auto;
    border-radius: 5px;
    transition: all 0.2s;
    cursor: pointer;
  }
  #Logos .logo-cont .logo-box .logo:hover {
    transform: translateY(-2px);
  }
  #Logos .logo-cont .logo-box .logo img {
    width: 25px;
  }
  #Logos .logo-cont .logo-box .logo img:hover {
    transform: translateY(0);
  }
  #Logos .logo-cont .logo-box .logo p {
    text-transform: capitalize;
    font-size: 1.1em;
  }
}
@media (min-width: 1024px) {
  #Logos .logo-cont .logo-box .logo > p {
    display: none;
  }
}
#CV a {
  display: inline-block;
  text-decoration: none;
  color: #7373e7;
  font-weight: bold;
  padding: 5px 20px;
  border: 2px solid #7373e7;
  border-radius: 5px;
  margin-top: 20px;
}

.activo {
  background: linear-gradient(90deg, #E04143, #AA3F79) !important;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
  font-weight: bold !important;
}
.activo::before {
  background: linear-gradient(90deg, #E04143, #AA3F79) !important;
}

.titleIcons {
  font-size: 1.3em;
  display: block;
}
.titleIcons i {
  font-size: 1.3em;
  margin-right: 2px;
}

#Certifications {
  margin-top: 100px;
}
#Certifications .title {
  margin-bottom: 50px;
}
#Certifications .title span i {
  margin-right: 10px;
}
#Certifications .contenedor .box {
  padding: 20px;
  transition: transform 0.3s;
  border-radius: 5px;
  background-color: #1B1B32;
  display: block;
  text-align: center;
  width: 300px;
  text-decoration: none;
  color: white;
}
#Certifications .contenedor .box img {
  width: 150px;
  margin-bottom: 5px;
}
#Certifications .contenedor .box p {
  font-size: 1.2em;
}
#Certifications .contenedor .box:hover {
  transform: translateY(-3px);
}

#Projects {
  margin-top: 50px;
}
#Projects .title {
  margin-bottom: 50px;
}
#Projects .contenedor {
  display: grid;
  gap: 25px;
  grid-template-columns: repeat(auto-fill, 300px);
  justify-content: center;
}
#Projects .contenedor .box {
  width: 300px;
  background-color: #171717;
  border-radius: 10px;
  transition: all 0.3s;
  position: relative;
}
#Projects .contenedor .box .header {
  height: 180px;
}
#Projects .contenedor .box .header img {
  border-radius: 10px 10px 0 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}
#Projects .contenedor .box .body {
  padding: 20px;
}
#Projects .contenedor .box .body .text {
  height: 90px;
  overflow: hidden;
  position: relative;
}
#Projects .contenedor .box .body .text::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: 0 -45px 30px -25px #171717 inset;
}
#Projects .contenedor .box .title {
  margin-bottom: 20px !important;
  font-size: 1.1em;
  font-weight: bold;
}
#Projects .contenedor .box:hover {
  transform: translateY(-4px);
  position: relative;
  z-index: 1;
}

#Social {
  margin-top: 150px;
}
#Social .contenedor {
  gap: 20px;
  display: flex;
}
#Social .contenedor .title {
  width: 50%;
  height: 100px;
  text-align: center;
  background: linear-gradient(to right, #0C4364, #1C3A9E);
  display: grid;
  place-items: center;
  border-radius: 10px;
}
#Social .contenedor .title p {
  font-size: 2.5em;
  font-family: "Lobster";
  letter-spacing: 3px;
  align-self: center;
}
#Social .contenedor .redes {
  display: flex;
  width: 50%;
  justify-content: center;
  gap: 20px;
}
#Social .contenedor .redes > a {
  border-radius: 10px;
  font-size: 3em;
  width: 25%;
  display: grid;
  place-items: center;
  text-decoration: none;
  color: white;
  transition: all 0.3s;
}
#Social .contenedor .redes > a:hover {
  transform: translateY(-5px);
}
#Social .contenedor .redes .github {
  background-color: #49228C;
}
#Social .contenedor .redes .linkedin {
  background-color: #0961B8;
}
#Social .contenedor .redes .reddit {
  background-color: #F24100;
}

#Contacto {
  margin: 150px auto 0 auto;
  width: 90%;
  height: 750px;
  background: #263238;
  border-radius: 20px;
}
#Contacto .contenedor {
  display: flex;
  height: 100%;
}
#Contacto .contenedor .svg {
  width: 50%;
  height: inherit;
  display: grid;
  place-items: center;
}
#Contacto .contenedor .svg img {
  display: block;
  width: 650px;
  margin: auto;
}
#Contacto .contenedor .form-box {
  width: 50%;
  display: grid;
  place-items: center;
}
#Contacto .contenedor .form-box #Form {
  padding: 40px 20px;
  border-radius: 10px;
  width: 500px;
  background-color: #1F1B30;
}
#Contacto .contenedor .form-box #Form legend {
  text-align: center;
  font-weight: bold;
  font-size: 2.5em;
  margin-bottom: 40px;
  font-family: "Lobster";
  letter-spacing: 2px;
}
#Contacto .contenedor .form-box #Form input, #Contacto .contenedor .form-box #Form textarea {
  margin: 20px auto;
  display: block;
  width: 90%;
  padding: 15px;
  background-color: #504573;
  border: none;
  border-radius: 10px;
  font-size: 1em;
  font-weight: bold;
  color: #e8e8e8;
  text-transform: uppercase;
  letter-spacing: 1px;
}
#Contacto .contenedor .form-box #Form input::placeholder, #Contacto .contenedor .form-box #Form textarea::placeholder {
  color: #969696;
}
#Contacto .contenedor .form-box #Form input:focus, #Contacto .contenedor .form-box #Form textarea:focus {
  outline: none;
}
#Contacto .contenedor .form-box #Form textarea {
  height: 150px;
  min-height: 150px;
  max-height: 150px;
  min-width: 90%;
  max-width: 90%;
  line-height: 1.2em;
}
#Contacto .contenedor .form-box #Form #submit {
  background-color: #18151a;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
  font-size: 1.1em;
}

#Footer {
  height: 100px;
  background-color: #0E0E0E;
  margin-top: 150px;
}

/* ---------- CLASES PARA LOS HOVER ---------- */
.hover-logo {
  position: fixed;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 50%;
  background: linear-gradient(90deg, black 60%, black 80%, transparent 100%);
  z-index: 5;
  height: 100vh;
  opacity: 0;
  transition: all 0.3s;
}
.hover-logo .hover-box {
  position: absolute;
  left: 40%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 350px;
}
.hover-logo .hover-box .img-div img {
  width: 100px;
  margin: 0 auto 20px auto;
  display: block;
  transform: translateX(-150px);
  transition: all 0.3s;
}
.hover-logo .hover-box .body {
  transform: translateX(-150px);
  transition: all 0.4s;
}
.hover-logo .hover-box .body .prem {
  font-size: 1.2em;
  text-align: center;
}
.hover-logo .hover-box .body .titlee {
  margin-bottom: 20px;
  font-size: 2em;
  text-align: center;
}
.hover-logo .hover-box .body ul {
  list-style-type: circle;
  margin: 20px 0 0 60px;
  font-size: 1.2em;
}
.hover-logo .hover-box .body ul li {
  padding: 2px 0;
}

.hover-logo-s {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 20;
  opacity: 0;
  transition: all 0.3s;
}
.hover-logo-s .box-logo {
  position: absolute;
  background-color: #171717;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 350px;
  z-index: 21;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 0 5px 7px rgba(0, 0, 0, 0.3);
  opacity: 0;
  transition: all 0.3s;
}
.hover-logo-s .box-logo .img-div {
  padding: 30px 0 10px 0;
}
.hover-logo-s .box-logo .img-div img {
  width: 120px;
  display: block;
  margin: auto;
}
.hover-logo-s .box-logo .cerrar {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 3em;
  cursor: pointer;
}
.hover-logo-s .box-logo .body .titlee {
  font-size: 2em;
  text-align: center;
  margin-bottom: 10px;
}
.hover-logo-s .box-logo .body .prem {
  text-align: center;
  font-size: 1.25em;
}
.hover-logo-s .box-logo .body ul {
  list-style-type: disc;
  margin: 20px 0 0 40px;
}
.hover-logo-s .box-logo .body ul li {
  font-size: 1.1em;
  padding: 2px 0;
}

.hover-project {
  position: absolute;
  top: -10%;
  left: 50%;
  transform: translateX(-50%);
  width: 200px;
  height: 200px;
  background-color: #171717;
  border-radius: 10px;
  color: white;
  padding: 0 20px;
  z-index: 10 !important;
  opacity: 0;
  transition: all 0.3s;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.3);
}
.hover-project .cabezera .titleee {
  text-transform: uppercase;
  text-align: center;
  margin: 60px 0 30px 0;
  font-size: 1.5em !important;
}
.hover-project .tabss {
  display: flex;
  justify-content: center;
  gap: 40px;
}
.hover-project .tabss span {
  display: inline-block;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.5294117647);
  font-size: 1.2em;
  position: relative;
  padding: 7px 0;
  cursor: pointer;
  user-select: none;
}
.hover-project .tabss span::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background: rgba(255, 255, 255, 0.5294117647);
}
.hover-project .content {
  margin-top: 30px;
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
}
.hover-project .content > div {
  transition: transform 0.3s ease;
  min-width: 100%;
  width: 100%;
  line-height: 1.3em;
  padding: 0 5px;
}
.hover-project .links {
  display: flex;
  gap: 30px;
  position: absolute;
  left: 50%;
  bottom: 30px;
  transform: translateX(-50%);
}
.hover-project .links a {
  display: block;
  color: white;
  padding: 5px 60px;
  font-size: 1.5em;
  background-color: #fff;
  text-decoration: none;
  border-radius: 10px;
}
.hover-project .links .git {
  background-color: #49228C !important;
  transition: all 0.2s;
}
.hover-project .links .git:hover {
  background-color: #401b81 !important;
}
.hover-project .links .link {
  background-color: #F24100;
  transition: all 0.2s;
}
.hover-project .links .link:hover {
  background-color: #db420a;
}

.click-project {
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 20 !important;
  opacity: 1;
  transition: all 0.3s;
}
.click-project .project-box {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 10px;
  padding: 0 30px;
  transform: translate(-50%, -50%);
  width: 250px;
  height: 400px;
  background-color: #171717;
  box-shadow: 0 0 5px 7px rgba(0, 0, 0, 0.3);
  opacity: 0;
  transition: all 0.2s;
}
.click-project .project-box .cerrar {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 3em;
  cursor: pointer;
}
.click-project .project-box .cabezera .titleee {
  text-transform: uppercase;
  text-align: center;
  margin: 60px 0 30px 0;
  font-size: 1.5em !important;
}
.click-project .project-box .tabss {
  display: flex;
  justify-content: center;
  gap: 40px;
}
.click-project .project-box .tabss span {
  display: inline-block;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.5294117647);
  font-size: 1.2em;
  position: relative;
  padding: 7px 0;
  cursor: pointer;
  user-select: none;
}
.click-project .project-box .tabss span::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background: rgba(255, 255, 255, 0.5294117647);
}
.click-project .project-box .content {
  margin-top: 30px;
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
}
.click-project .project-box .content > div {
  transition: transform 0.3s ease;
  min-width: 100%;
  width: 100%;
  line-height: 1.3em;
  padding: 0 5px;
}
.click-project .project-box .links {
  display: flex;
  gap: 30px;
  position: absolute;
  left: 50%;
  bottom: 30px;
  transform: translateX(-50%);
}
.click-project .project-box .links a {
  display: block;
  color: white;
  padding: 5px 60px;
  font-size: 1.5em;
  background-color: #fff;
  text-decoration: none;
  border-radius: 10px;
}
.click-project .project-box .links .git {
  background-color: #49228C !important;
  transition: all 0.2s;
}
.click-project .project-box .links .git:hover {
  background-color: #401b81 !important;
}
.click-project .project-box .links .link {
  background-color: #F24100;
  transition: all 0.2s;
}
.click-project .project-box .links .link:hover {
  background-color: #db420a;
}

.g-recaptcha {
  margin: auto;
  width: 304px;
}/*# sourceMappingURL=style.css.map */